<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>renata.penteado@litinow.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>CookieMake</servlet-name>
        <servlet-class>com.litinow.servlets.CookieMake</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ELPersonTest</servlet-name>
        <servlet-class>com.litinow.servlets.ELPersonTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperatorsTest</servlet-name>
        <servlet-class>com.litinow.servlets.OperatorsTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonTest</servlet-name>
        <servlet-class>com.litinow.servlets.PersonTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEl</servlet-name>
        <servlet-class>com.litinow.servlets.TestEl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipServlet</servlet-name>
        <servlet-class>com.litinow.servlets.TipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.litinow.servlets.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieMake</servlet-name>
        <url-pattern>/CookieMake</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperatorsTest</servlet-name>
        <url-pattern>/OperatorsTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ELPersonTest</servlet-name>
        <url-pattern>/ELPersonTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonTest</servlet-name>
        <url-pattern>/PersonTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEl</servlet-name>
        <url-pattern>/TestEl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipServlet</servlet-name>
        <url-pattern>/TipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
