<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>renata.penteado@litinow.com</param-value>
    </context-param>
    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>admin@litinow.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>TipServlet</servlet-name>
        <servlet-class>com.litinow.servlets.TipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloUserServlet</servlet-name>
        <servlet-class>com.litinow.servlets.HelloUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomTagServlet</servlet-name>
        <servlet-class>com.litinow.servlets.CustomTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TipServlet</servlet-name>
        <url-pattern>/TipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloUserServlet</servlet-name>
        <url-pattern>/HelloUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomTagServlet</servlet-name>
        <url-pattern>/CustomTagServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
