<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.litinow.listeners.ServletContextListenerSample</listener-class>
    </listener>
    <listener>
        <description>ServletContextAttributeListener</description>
        <listener-class>com.litinow.listeners.ServletContextAttributeListenerSample</listener-class>
    </listener><!--
    <listener>
        <description>RequestListener</description>
        <listener-class>com.litinow.listeners.ServletRequestListenerSample</listener-class>
    </listener>
    <listener>
        <description>RequestAttributeListener</description>
        <listener-class>com.litinow.listeners.ServletRequestAttributeListenerSample</listener-class>
    </listener>-->
    <servlet>
        <servlet-name>DateServlet</servlet-name>
        <servlet-class>com.litinow.servlets.DateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ch2Dice</servlet-name>
        <servlet-class>com.litinow.servlets.Ch2Dice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloRandonPerson</servlet-name>
        <servlet-class>com.litinow.servlets.HelloRandonPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColorServlet</servlet-name>
        <servlet-class>com.litinow.servlets.ColorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfigSample</servlet-name>
        <servlet-class>com.litinow.servlets.ServletConfigSample</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>renata.penteado@litinow.com</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletContextSample</servlet-name>
        <servlet-class>com.litinow.servlets.ServletContextSample</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyIdentityServlet</servlet-name>
        <servlet-class>com.litinow.servlets.CompanyIdentityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DogServlet</servlet-name>
        <servlet-class>com.litinow.servlets.DogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RabbitServlet</servlet-name>
        <servlet-class>com.litinow.servlets.RabbitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorseServlet</servlet-name>
        <servlet-class>com.litinow.servlets.HorseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEl</servlet-name>
        <servlet-class>TestEl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testEl</servlet-name>
        <servlet-class>com.litinow.servlets.TestEl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateServlet</servlet-name>
        <url-pattern>/DateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ch2Dice</servlet-name>
        <url-pattern>/Dice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloRandonPerson</servlet-name>
        <url-pattern>/HelloRandonPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColorServlet</servlet-name>
        <url-pattern>/ColorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfigSample</servlet-name>
        <url-pattern>/ServletConfigSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContextSample</servlet-name>
        <url-pattern>/ServletContextSample</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>litinowMsg</param-name>
        <param-value>Litinow all right reserved</param-value>
    </context-param>
    <context-param>
        <param-name>name</param-name>
        <param-value>Coffee Brothers</param-value>
    </context-param>
    <context-param>
        <param-name>address1</param-name>
        <param-value>21 Riversdale</param-value>
    </context-param>
    <context-param>
        <param-name>address2</param-name>
        <param-value>Upper Dargle Road</param-value>
    </context-param>
    <context-param>
        <param-name>city</param-name>
        <param-value>Bray</param-value>
    </context-param>
    <context-param>
        <param-name>county</param-name>
        <param-value>Wicklow</param-value>
    </context-param>
    <context-param>
        <param-name>country</param-name>
        <param-value>Ireland</param-value>
    </context-param>
    <context-param>
        <param-name>phone1</param-name>
        <param-value>088 986 8956</param-value>
    </context-param>
    <context-param>
        <param-name>phone2</param-name>
        <param-value>087 789 8964</param-value>
    </context-param>
    <context-param>
        <param-name>cnpj</param-name>
        <param-value>10000101/98</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>CompanyIdentityServlet</servlet-name>
        <url-pattern>/CompanyIdentityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DogServlet</servlet-name>
        <url-pattern>/DogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RabbitServlet</servlet-name>
        <url-pattern>/RabbitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorseServlet</servlet-name>
        <url-pattern>/HorseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEl</servlet-name>
        <url-pattern>/TestEl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testEl</servlet-name>
        <url-pattern>/testEl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
